ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    height: auto;
}

li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header{
    width: 100%;
    height: 300px;
}


div.sidebar img{
    height: 150px;
    width: 20%;
    float: right;
    padding: 8px;
    position: relative;
}
div.content{
    float:left;
    width:50%;
    height: 450px;
    position: relative;
    padding : 1px;
}
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  div.sidebar:after, div.content:after {
    content: "";
    clear: both;
    display: table;
  }